@model FileReader.Models.UsersModels
@{
    ViewBag.Title = "Index";
}

<head>
<style>
    body {
        background-color: grey;
    }

    .bloc {
            background-color: white;
            border: 3px solid black;
            border-radius: 13px;
            box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
        }
    
</style>
</head>

<h2>Index</h2>
<article class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bloc">
            <div class="row mt-5 mb-5">
                <div class="col-6 text-right">
                    <a href="~/Admin/ListUsers" class="btn btn-primary">Liste Utilisateurs</a>
                </div>

                <div class="col-6 text-left">
                    <a href="~/Admin/AddUsers" class="btn btn-primary">Ajout Utilisateurs</a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</article>

