@model FileReader.Models.UsersModels
@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .body {
            background-color: grey;
        }
    </style>
</head>

<h2>Index</h2>
<article class="container mt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row">
                <form method="post" action="Index/Admin" class="col-12">
                    <div class="col-5 text-center">

                        <input type="submit" class="btn btn-primary" value="Liste des utilisateurs" name="ListUsers" />
                    </div>

                    <div class="col-5 text-center">
                        <input type="submit" class="btn btn-primary" value="Ajout d'utilisateur" name="AddUsers" />
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</article>

