@model FileReader.Models.UsersModels
@{
    ViewBag.Title = "Index";
}

@{ 
    List<List<string>> list = new List<List<string>>();
    list.Add()
}
<h2>Index</h2>

<table>
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Admin</td>
    </tr>
    
</table>